@font-face {
  font-family: "Final_Fantasy_VII";
  src: url(./font/Final_Fantasy_VII.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Final_Fantasy_VII";
  list-style: none;
}

body {
  background: url('./images/pngegg2.png') top right no-repeat;
  background-size: 50%;
  background-color: rgb(29, 27, 27);
}

/* .title,
.score-title,
.form-title {
  font-family: "Final_Fantasy_VII";
} */

.title {
  margin: 2% 1%;
  font-size: 4.5rem;
  color: white;
}

.score-title,
.form-title {
  margin: 0 5%;
  font-size: 2.5rem;
  color: white;
}

.score-title {
  padding-top: 8%;
}

.form-title {
  padding-top: 10%;
  margin-bottom: 5%;
}

.subtitle-container {
  display: flex;
  align-items: center;
}

.refresh-btn,
.submit-btn {
  cursor: pointer;
  padding-inline: 5%;
  font-size: 2rem;
  padding-top: 6%;
}

.submit-btn {
  padding-top: 12%;
  margin-top: 10%;
}

.hard-list {
  box-sizing: border-box;
  margin: 2% 2%;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 2rem;
  padding: 3%;
  background-image: linear-gradient(blue, rgb(28, 28, 109));
  color: white;
}

.score-item > li {
  box-sizing: border-box;

  /* margin: 5% 4%; */
  border: 2px solid black;
  list-style: none;

  /* padding-top: 6%; */
}

/* li:nth-child(odd) {
  background-color: #e9d7fa;
} */

.main-container {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.recent-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 2% 4%;
  width: 35%;
}

#name-input,
#score-input {
  display: flex;
  align-items: center;
  padding-top: 5%;
  font-size: 2rem;
  margin-bottom: 5%;
}
